

# build for arch and arch based distro

alias install='sudo pacman -S'
alias remove='sudo pacman -Rs'
alias sync='sudo pacman -Syy'
alias upgrade='sudo pacman -Syu'
alias clean-cache='sudo pacman -Scc'

# configuration-settings
alias ccli-help='less ~/.config/ccli/help.txt'
alias ccli-settings='not installed'

# created by farhan sadik
